*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #efefef;
}
nav{
    display: flex;
    align-items: center;
    background-color: #1876f2;
    padding: 5px 5%;
    height: 50px;
    position: fixed;
}
.logo img{
    width: 200px;
    height: 50px;
}
.logo, .notify, .inbox, .video{
    margin-left: 30px;
}
.notify img{
    width: auto;
    height: 30px;
}
.inbox img{
    width: auto;
    height: 30px;
}
.video img{
    width: auto;
    height: 30px;
}
.search-box{
    display: flex;
    width: 350px;
    margin-left: 300px;
    background-color: #efefef;
    align-items: center;
    padding: 0 15px;
    border-radius: 20px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.profile-pic img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile-pic{
    margin-left: 30px;
}
.profile-container{
    padding-top: 80px;
    padding-left:15%;
    padding-right: 15%;
    padding-bottom: 10px;
    color: #626262;
}
.cover-img{
    width: 100%;
    border-radius: 6px;
}
.Jac{
    margin: 0 auto;
    display: flex;
    padding: 10px;
    background-color: white;
    width: 876px;
    height: 100px;
    border-radius: 3px;
}
.Jac img{
    height: 100px;
    width: 100px;
    border-radius: 4px;
}
.text{
    display: block;
}
.text h2{
    color: #626262;
    margin-left: 20px;
}
.text p{
    font-size: 10px;
    color: #626262;
    margin-left: 20px;
}
.mem{
    display: inline-block;
    padding-left: 20px;
}
.mem img{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 5px;
}
.connect{
    padding: 2px;
    display: flex;
    margin-left: 330px;
    background-color: #efefef;
    width: 80px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.connect img{
    width: 15px;
    height: 12px;
}
.connect p{
    font-size: 12px;
    color: black;
    margin-left: 5px;
}
.msg{
    padding: 2px;
    display: flex;
    margin-left: 20px;
    background-color: #1876f2;
    width: 80px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}
.msg img{
    width: 15px;
    height: 12px;
}
.msg p{
    font-size: 12px;
    color: white;
    margin-left: 5px;
}
.more{
    margin-left: 20px;
    background-color: #efefef;
    height: 15px;
    width: 25px;border-radius: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
}
.more img{
    height: 4px;
    width: 20px;
}
.main{
    background-color: #efefef;
    width: 896px;
    display: flex;
    margin: 0 auto;
}
.intro{
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 0;
    padding: 20px;
    color: #626262;
}
.John{
    background-color: white;
    margin-left: 20px;
    width: 566px;
    height: 150px;
    border-radius: 3px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
}
.John h3{
    color: #626262;
}
.John img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.text2, .text3{
    display: block;
    margin-left: 10px;
}
#dId{
    background-color: white;
    border: 0;
    outline: none;
    color: #626262;
    font-size: 11px;
}
.ta{
    margin-top: 30px;
    font-size: 13px;
    color: #626262;
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    resize: none;
    width: 500px;
    height: 50px;
    outline: 0;
}
.option{
    display: flex;
    height: 100px;
    width: 566px;
    margin-top: 10px;
}
.photo{
    margin-left: 30px;
}
.feeling{
    margin-left: 30px;
}
.option img{
    width: 20px;
    height: 18px;
    border-radius: 0;
}
.option p{
    font-size: 13px;
    color: #626262;
    margin-top: 3px;
    margin-left: 5px;
}
.intro p{
    text-align: center;
}
.job,.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
}
.job img{
    height: 25px;
    width: 25px;
}
.info p{
    font-size: 13px;
}
.profile-content{
    display: flex;
    margin-top: 20px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 6px;
    margin-top: 15px;
}
.intro p{
    margin-bottom: 20px;
}
.post{
    background-color: white;
    border-radius: 3px;
    margin-top: 170px;
    margin-left: 0;
    width: 576px;
    padding: 15px;
    margin-top: 20px;
    color: #626262;
}
.profile1{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.b-profile{
    display: flex;
}
.more2{
    margin-left: 310px;
    height: 4px;
    width: 20px;
    rotate: 90deg;
    margin-top: 15px;
}
.feed{
    height: 200px;
    width: 100%;
    margin-top: 10px;
    border-radius: 3px;
}
.post p{
    margin-top: 20px;
    color: #626262;
}
.act{
    display: flex;
}
.act img{
    width: 13px;
    height: 13px;
    margin-left: 30px;
    margin-top: 18px;
}
.act p{
    font-size: 10px;
    margin-left: 3px;
}
.pic img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 250px;
}
.w-act{
    display: inline;
}
.post-container{
    margin-left: 20px;
}
.post-main{
    display: flex;
    flex-direction: column;  
}
.post span{
    color: #1876f2;
}
.collage{
    margin-top: 20px;
    background-color: white;
    width: 320px;
    height: 280px;
    padding: 10px;
    border-radius: 3px;
}
.text4{
    display: flex;
    justify-content: space-between;
}
.text4 h3{
    color: #626262;
}
.text4{
    color: #1876f2;
}
.all-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}
.all-photo img{
    height: 100px;
    width: 100px;
    border-radius: 3px;
    margin-top: 20px;
}
.all-friends{
    background-color: white;
    width: 320px;
    height: 450px;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
}
.text5{
    display: flex;
    justify-content: space-between;
    color: #626262;
}
.collage2{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}
.collage2 img{
    height: 100px;
    width: 100px;
    border-radius: 3px;
}
.collage2 div{
    margin-top: 10px;
}
.collage2 p{
    font-size: 13px;
    color: #626262;
}
.w-act{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pic{
    margin-top: 15px;
}